block content
  //- - console.log($)

  div= filename
  div: a(href = $.href)= $.name

  ul.menu

    each $MenuItem in $.imports.menu
      if $MenuItem.active
        li.nav-item.active
          a.nav-link(href = $MenuItem.href)= $MenuItem.name
      else
        li.nav-item
          a.nav-link(href = $MenuItem.href)= $MenuItem.name
