block content
  - var local_data = 'local data'

  p This content is not provided of any external data from JSON files
  p instead it provides a 
    strong #{local_data}

  p.
    To provide an external data from JSON file you have to create 
    a JSON file in "src/data/pages" with same name as that file
    (src/data/pages/without_data.json)
