block content
  //- - console.log($)

  div= filename
  div: a(href = $.href)= $.name

  .catalog-1

    each $CatalogItem in $.imports.catalog_1
      .catalog-item
        a.catalog-img-link(href = $CatalogItem.href)
          img(src = "assets/img/" + $CatalogItem.img)
        .catalog-info
          p.catalog-text= $CatalogItem.info
          a.catalog-title(href = $CatalogItem.href)= $CatalogItem.title

  .catalog-2

    each $CatalogItem in $.imports.catalog_2
      .catalog-item
        a.catalog-img-link(href = $CatalogItem.href)
          img(src = "assets/img/" + $CatalogItem.img)
        .catalog-info
          p.catalog-text= $CatalogItem.info
          a.catalog-title(href = $CatalogItem.href)= $CatalogItem.title
